/*
 * This file contains menu related css code
*/




#menu-div {
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.menu-div li {
    display: flex;
    flex-direction: row;
    margin-right:3px;
}

.nav-menu a {
    color: #FFFFFF;
}

.nav-menu a:hover {
    color: #B9DFFF;
}

li {
    text-decoration-line: underline;
    display: inline-flex;
}