<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
</head>

<body>
<div th:replace="code-fragments :: logo-menu"></div>
<div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->

    <div class="add-edit-wish">
        <h1>Add A Wish</h1>
        <form action="/add-wish-handler" enctype="multipart/form-data" method="post">

            <label class="label">Title</label>
            <input type="text" name="title">

            <label class="label">Description</label>
            <input type="text" name="description">

            <label class="label">Status</label>
            <input type="text" name="status">

            <label class="label">Expired Date (dd-mm-yyyy)</label>
            <input type="text" name="expireDate">

            <label class="label">Image upload</label>
            <input type="file" name="imageUpload" accept="image/png, image/jpeg" />

            <input type="submit" value="Add Wish">
        </form>

    </div>

        <!-- all code after this line is common for all page-->
</div>


<div th:replace="code-fragments :: footer"></div>

</body>
</html>