<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
</head>

<body>

<div th:replace="code-fragments :: logo-menu"></div>

<div id="board-background">


    <div class="row">

            <div th:each="wish: ${wishesFromBoard}" class="board-div">

                <h>Wishes: </h>
                <p class="wish-text-board" th:each="wish: ${wishesFromBoard}">
                    <span th:text="${wish.title}"></span>
                    <span th:text="${wish.description}"></span>
                    <span th:text="${wish.status}"></span>
                </p>

            </div>
    </div>

</div>
<div th:replace="code-fragments :: footer"></div>

</body>
</html>