<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
    <script src="board.js" defer></script>
</head>

<body>

<div th:replace="code-fragments :: logo-menu"></div>

<div class="board-background">


            <div th:each="wish: ${wishesFromBoard}" class="board-note">


                <h>Wish: </h>
                <p class="wish-text-board">
                    <span th:text="${wish.title}"></span>
                    <span th:text="${wish.description}"></span>
                    <span th:text="${wish.status}"></span>
                </p>

            </div>

</div>

<div th:replace="code-fragments :: footer"></div>

</body>
</html>