<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board | Share Your Wish</title>
    <link th:href="@{template.css}" rel="stylesheet" />
    <link th:href="@{menu.css}" rel="stylesheet">
    <link th:href="@{add-edit-wish.css}" rel="stylesheet" />
    <link th:href="@{login-registration.css}" rel="stylesheet" />
    <link th:href="@{my-profile-page.css}" rel="stylesheet" />
    <link th:href="@{board.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
    <div id="logo-div">
        <!-- a logo / name of the webapp will be here-->
        logo div
    </div>
    <div id="menu-div">
        <!-- menu items will be here-->
        menu div
    </div>
    <div id="board-background">
        <div class="row">
            <div class="board-div">

        this is a board
                </div>
            <div class="board-div">
                <section>
                    <h1>Here is every wish: </h1>
                    <p th:each="email: ${fetchWishes}">
                        <span th:text=""${wishes}></span>
                    </p>
                </section>

            </div>

            <div class="board-div">

            </div>
        </div>
    </div>
    <div id="footer-div">
        <!-- footer related content will be here-->
        footer div
    </div>
</div>

</body>
</html>