<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
</head>

<body>

<div th:replace="code-fragments :: logo-menu"></div>

<div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->

        <div class="add-edit-wish">
            <h1>Edit A Wish</h1>
            <form action="/edit-user-handler" method="post">
                <label class="label">Email</label>
                <input type="text" name="email" th:value="${userDetail.getEmail}" >

                <label class="label">Address</label>
                <input type="text" name="address" th:value="${userDetail.getAddress}">

                <label class="label">Phone</label>
                <input type="text" name="phone" th:value="${userDetail.getPhone}">

                <input type="hidden" name="userId" th:value="${userDetail.getId}">

                <input type="submit" value="Edit User">
            </form>

        </div>

        <!-- all code after this line is common for all page-->
</div>

    <div th:replace="code-fragments :: footer"></div>

</body>
</html>