
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Wish List | Make Wish Get It</title>
    <link th:href="@{/template.css}" rel="stylesheet" />
    <link th:href="@{/menu.css}" rel="stylesheet" />
    <link th:href="@{/add-edit-wish.css}" rel="stylesheet" />
    <!-- <link th:href="@{login-registration.css}" rel="stylesheet" /> -->
    <link th:href="@{/my-profile-page.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div id="logo-div">
        <!-- a logo / name of the webapp will be here-->
        logo div
    </div>
    <div id="menu-div">
        <!-- menu items will be here-->
        menu div
    </div>
    <div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->




        <div class="add-edit-wish">
            <h1>Edit A Wish</h1>
            <form action="/edit-user-handler" method="post">
                <label class="label">Email</label>
                <input type="text" name="email" th:value="${userDetail.getEmail}" >

                <label class="label">Address</label>
                <input type="text" name="address" th:value="${userDetail.getAddress}">

                <label class="label">Phone</label>
                <input type="text" name="phone" th:value="${userDetail.getPhone}">

                <input type="hidden" name="userId" th:value="${userDetail.getId}">

                <input type="submit" value="Edit User">
            </form>

        </div>

        <!-- all code after this line is common for all page-->
    </div>
    <div id="footer-div">
        <!-- footer related content will be here-->
        footer div
    </div>
</div>

</body>
</html>