<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link th:href="@{template.css}" rel="stylesheet" />
    <link th:href="@{menu.css}" rel="stylesheet" />
    <link th:href="@{add-edit-wish.css}" rel="stylesheet" />
    <link th:href="@{login-registration.css}" rel="stylesheet" />
    <link th:href="@{my-profile-page.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{template.css}" href="..\static\template.css">
    <link rel="stylesheet" th:href="@{menu.css}" href="..\static\menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="container">
    <div id="logo-div">
        <!-- a logo / name of the webapp will be here-->
        <p><h1>DREAM•WISH</h1></p>
    </div>

    <div id="menu-div">
        <!-- menu items will be here-->

        <ul class="nav-menu" style="";>
            <li>My Wishlist</li>
             •
            <li>Wishlists Shared With Me</li>
             •
            <li>Get Inspo</li>
             •
            <li>My Profile</li>
        </ul>
    </div>


    <div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->
        <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>

        <div class="home-page-content">
            <!-- change this div according to your need-->

            DON'T HAVE AN ACCOUNT? Sign Up
            Login
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <!-- all code after this line is common for all page-->
    </div>


    <div id="footer-div">
        <!-- footer related content will be here-->
        <hr class="dashed">
        <div class="row">
            <div class="column" id="address-div">
                <h4>Address</h4>
                Dream Wish <br/>
                Guldbergsgade 29N, <br/>
                2200 København <br/>
            </div>

            <div class="column" id="contact-div">
                <h4>Contact information</h4>
                Phone: + 45 75 42 42 42 <br/>
                Email: dreamwish@stud.kea.dk
            </div>

            <div class="column" id="follow-div">
                <h4>Follow Us</h4>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>