<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
</head>

<body>

<div th:replace="code-fragments :: logo-menu"></div>

<div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->
        <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>

        <div class="home-page-content">
            <!-- change this div according to your need-->

            DON'T HAVE AN ACCOUNT?
            <br>
            <li><a href="add-user">Sign Up</a></li>
            <br>
            or
            <br>
            <li><a href="login">Login</a></li>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <!-- all code after this line is common for all page-->
    </div>


<div th:replace="code-fragments :: footer"></div>

</body>
</html>