<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make And Share Wish</title>
    <div th:replace="code-fragments :: head"></div>
</head>

<body>

<div th:replace="code-fragments :: logo-menu"></div>

<div id="content-div">
        <!-- main content/body will be here-->
        <!-- all code above this line is common for all page-->
        <div class="mypage-content">
            <p class="mypage-title">Welcome <span th:text="${userName}"></span></p>
            <p>Do you like to add a wish? <a th:href="@{/add-wish}">Click Here</a></p>

        </div>
        <div class="wish-div" th:each="wish: ${wishes}">
            <div class="wish-image-div"><img th:src="@{'/images/'+${wish.image}}"/></div>-->
            <div class="wish-title-div" th:text="${wish.title}" ></div>
            <div class="wish-description-div" th:text="${wish.description}" ></div>
            <div class=""><a th:href="@{/share-wish(id=${wish.id})}">Share in Board</a></div>
            <div class="">
                <a th:href="@{/edit-wish/{id}(id=${wish.id})}" >Edit</a>
                <a th:href="@{/delete-wish(id=${wish.id})}">Delete</a>
            </div>

        </div>

        <!-- all code after this line is common for all page-->
</div>


<div th:replace="code-fragments :: footer"></div>

</body>
</html>